body{
    background-color: lightsteelblue;
}
h1{
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    font-size: 40px;
}
p{
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    font-size: 20px;
    padding: 1px 1px;
}
a{
    text-decoration: none;
}
.menu{
    text-align: center;
}
.button{
    color: black;
    text-align: center;
    font-size: 15px;
    background-color: aliceblue;
    border-radius: 4px;
    border: 3px ;
    cursor: pointer;
    padding: 10px 10px;
    width: 100px;
    /*min-width: 30px;*/
    margin-left:auto;
    margin-right:auto;
    margin-top: 20px;
    display: block;

}
.button:hover{
    background-color: steelblue;
    color: white;
}
.active-button{
    color: white;
    text-align: center;
    font-size: 15px;
    background-color: steelblue;
    border-radius: 4px;
    border: 3px ;
    cursor: pointer;
    padding: 10px 20px;
    width: 100px;
    /*min-width: 30px;*/
    margin-left:auto;
    margin-right:auto;
    margin-top: 20px;
    display: block;
}
.status-bar{
    text-align: center;
    background-color: aliceblue;
    width: 300px;
    height: 30px;
    margin-top: 20px;
    margin-left:auto;
    margin-right:auto;
    border-radius: 4px;
}
.popup {
    padding: 100px 70px;
    display: none;
    position: fixed;
    z-index: 9;
    background-color: rgba(161, 174, 237, 0.85);
    top: 30%;
    left: 32%;
    border: 3px solid white;
}
.status{
    background-color: darkslateblue;
    text-align: center;
    color:white;
}
.message{
    color:white;
}


