.cell-mine {
    background-color: transparent;
    background-image: url("image/mine.png"), url("image/cell_hidden.png");
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
    background-size: 58%, cover;
}
